.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #c9c9c9;
  overflow: hidden;
  position: absolute;
  bottom: 5px;
  left: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  img {
    width: 25px;
  }
}
