.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
  background: white;
  padding: 30px;
  transform: translateX(500px);
  transition: transform 0.4s;
  z-index: 500;
  &-open {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 400;
}

.input {
  margin-bottom: 10px;
  label {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }

  input {
    padding: 5px;
    width: 100%;
  }
}

.submit,
.cancel {
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
.cancel {
  background: red;
}
.submit {
  background: green;
}

.avatars {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 200px;
}

.original-wrapper {
  flex: 1;
  margin-right: 5px;
  position: relative;
  .original {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  label {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
    font-size: 12px;
    left: 0;
  }
}
