.filter-button {
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  left: calc(50% - 75px);
  background: black;
  cursor: pointer;
  color: white;
  border: none;
  width: 150px;
  padding: 15px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: none;
  }

  .filter-count {
    display: inline-block;
    padding: 5px 10px;
    background: white;
    color: black;
    margin-left: 5px;
    border-radius: 3px;
  }
}

.results {
  margin-left: 0;
  @media (min-width: 768px) {
    margin-left: 250px;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
