.filters {
  display: none;
  z-index: 100;

  @media (min-width: 768px) {
    position: fixed;
    display: block;
    padding: 20px;
    width: 250px;
    top: 50px;
    left: 0;
    bottom: 0;
    border-right: 1px solid #d6d6d6;
  }
  .input-name {
    padding: 5px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .filter-name {
    font-size: 1.3rem;
    margin-bottom: 5px;
    letter-spacing: 1.1px;
  }
  .filter-section {
    margin-bottom: 10px;
  }

  label {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}
