@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

html {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html,
body {
  font-family: 'Roboto Mono', monospace !important;
  color: #444444 !important;
  font-size: 16px !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 500;
}

.code-text {
  font-size: 0.9em;
  background: rgba(27, 31, 35, 0.05);
  color: rgb(71, 101, 130);
  padding: 0.25em 0.5em;
  border-radius: 3px;
  white-space: normal;
}

ul.show-bullets {
  margin-left: 2em;
  margin-bottom: 1em;
  li {
    list-style-type: disc;
    padding: 10px 0;
  }
}
