.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(214 214 214);
  height: 50px;
  width: 100%;
  background: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
  .links {
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .brand {
    cursor: pointer;
  }
  .item {
    font-weight: bold;
    font-size: 1.2em;
  }
}
