.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(214 214 214);
  height: 50px;
  width: 100%;
  background: #fff;
  z-index: 200;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
  .links {
    display: flex;
    align-items: center;
    li {
      margin-left: 10px;
    }
  }
  .explore,
  .github,
  .brand {
    cursor: pointer;
  }
  .item {
    font-weight: bold;
    font-size: 1.2em;
  }
  .explore {
    background: #ef8755;
    padding: 5px 10px;
    display: inline-block;
    color: white;
    border-radius: 5px;
  }
  .github {
    margin-left: 15px;
  }
}
