.results {
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}

.img {
  object-fit: cover;
}

.label {
  font-weight: 500;
}

.capitalize {
  text-transform: capitalize;
}

.edit {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
  img {
    height: 20px;
    width: 20px;
    object-fit: unset;
  }
}

.p {
  line-height: 20px;
  font-weight: 300;
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}

.key {
  font-weight: 500;
  margin-right: 5px;
}
.right {
  width: 23px;
  height: 20px;
  position: relative;
  top: 5px;
}
.original {
  background: #fcaab9;
  display: inline-block;
  padding: 5px;
}
.new {
  background: #c3ffc3;
  display: inline-block;
  padding: 5px;
}

.footer {
  margin-top: 10px;
}

.reject,
.approve {
  border: none;
  outline: none;
  background: none;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.reject {
  background: tomato;
  margin-right: 5px;
}
.approve {
  background: #62aa62;
}
